/* FORM SECTION */
.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__input--text {
    width: 100%;
    background-color: $light-blue;
    border: 1px solid $main-black;
    padding: 1rem 8rem;
    text-align: center;
    margin-bottom: 3rem;
    @media (min-width: $tablet) {
      padding: 1rem 15rem;
    }
  }
  & input::placeholder {
    color: $main-black;
    opacity: 1;
  }
}