/* GALLERY SECTION */

.gallery {
  display: flex;
  flex-wrap: wrap;
  &__item {
    padding: 2rem 3rem;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $text-grey;
    @media (min-width: $tablet) {
      flex-basis: 50%;
    }
    @media (min-width: $desktop) {
      flex-basis: 25%;
    }
    &--1 {
      background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $gallery-tile-1;
      @media (min-width: $desktop) {
        background-image: $gallery-tile-1;
      }
    }
    &--2 {
      background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $gallery-tile-2;
      @media (min-width: $desktop) {
        background-image: $gallery-tile-2;
      }
    }
    &--3 {
      background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $gallery-tile-3;
      @media (min-width: $desktop) {
        background-image: $gallery-tile-3;
      }
    }
    &--4 {
      background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $gallery-tile-4;
      @media (min-width: $desktop) {
        background-image: $gallery-tile-4;
      }
    }
    &__content {
      display: block;
      text-align: center;
      border: 1px solid $text-grey;
      border-radius: 10px;
      padding: 3rem 1rem;
      transition: opacity 300ms linear;
      @media (min-width: $desktop) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

/* HOVER */
.gallery__item:hover .gallery__item__content {
  visibility: visible;
  opacity: 1;
}

.gallery__item {
  &--1:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $gallery-tile-1;
  }
  &--2:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $gallery-tile-2;
  }
  &--3:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $gallery-tile-3;
  }
  &--4:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $gallery-tile-4;
  }
}



