html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  margin: 0;
}

p {
  margin: 2.5rem 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: calc(1080px + 1rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.button {
  padding: 10px 25px;
  background-color: $dark-blue;
  color: $blue-button-font;
  border-radius: 6px;
  display: inline-block;
}


