h1 {
  font-family: $montserrat;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  @media (min-width: $desktop) {
    font-size: 6rem;
  }
}

h2 {
  font-family: $montserrat;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: $montserrat;
  font-size: 2rem;
  font-weight: 700;
}

.logo {
  font-family: $montserrat;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}

.button {
  text-transform: uppercase;
  font-family: $montserrat;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav--mobile__item {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tout-tile__heading {
  text-transform: uppercase;
  &--lowercase {
    text-transform: none;
  }
}

.tout-blurb {
  font-family: $opensans;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  &--small {
    font-family: $opensans;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
  }
}

.features__tile__heading {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.gallery__item__heading {
  text-transform: uppercase;
}

.contact__form__input--text {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.footer-area {
  &__heading {
    @extend .features__tile__heading;
    font-weight: 600;
  }
  &__blurb {
    font-family: $opensans;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2;
  }
}

.footer-area--about .footer-area__blurb {
  line-height: 1.5;
}

.footer-logo {
  font-family: $montserrat;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600px;
  letter-spacing: 1px;
}

.footer-nav__items {
  font-family: $opensans;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.footer-legal {
  font-family: $opensans;
  font-weight: 600;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2;
}
