h1 {
  font-family: $montserrat;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: $montserrat;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: $montserrat;
  font-size: 2rem;
  font-weight: 700;
}

.logo {
  font-family: $montserrat;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}

.button {
  text-transform: uppercase;
  font-family: $montserrat;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav--mobile__item {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tout-blurb {
  font-size: 1.4rem;
  font-weight: 300;
  &--small {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
  }
}

.features__tile__heading {
  text-transform: uppercase;
  font-size: 1.8rem;
}
