// COLORS
$dark-blue: #0e5f88;
$light-blue: #8ecceb;
$main-black: #1d1d1d;
$text-grey: #dfdede;
$blue-button-font: #efeeee;
$bg-gray: #f1f3f3;

// FONT-FAMILIES
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

// MEDIA QUERIES
$tablet: 500px;
$desktop: 800px;

// MIXINS

@mixin position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//GALLERY TILES 

$gallery-tile-1: url(../assets/image-6.jpeg);
$gallery-tile-2: url(../assets/image-7.jpeg);
$gallery-tile-3: url(../assets/image-8.jpeg);
$gallery-tile-4: url(../assets/image-9.jpeg);



